In [2]:

import yfinance as yf
import numpy as np
import pandas as pd

In [3]:

data = yf.download('RGTI', start='2025-04-11', end='2025-04-28')

[*********************100%***********************]  1 of 1 completed

In [4]:

data

Price      Close   High    Low   Open    Volume
Ticker      RGTI   RGTI   RGTI   RGTI      RGTI
Date
2025-04-11  9.10  9.540  8.690  9.450  27496000
2025-04-14  8.86  9.700  8.780  9.400  23235600
2025-04-15  8.62  8.960  8.450  8.870  15826800
2025-04-16  8.25  8.420  7.980  8.280  15132500
2025-04-17  8.32  8.475  8.075  8.290  11981100
2025-04-21  8.11  8.205  7.810  8.170  12028800
2025-04-22  8.57  8.580  8.125  8.230  14606400
2025-04-23  9.11  9.350  8.870  9.060  25910600
2025-04-24  9.30  9.730  9.140  9.228  27748000
2025-04-25  9.37  9.800  8.970  9.230  36524400

In [5]:

data["daily_return"] = data["Close"].pct_change()
data["state"] = np.where(data["daily_return"] >= 0, "up", "down")

In [6]:

data

Price      Close   High    Low   Open    Volume daily_return state
Ticker      RGTI   RGTI   RGTI   RGTI      RGTI
Date
2025-04-11  9.10  9.540  8.690  9.450  27496000          NaN  down
2025-04-14  8.86  9.700  8.780  9.400  23235600    -0.026374  down
2025-04-15  8.62  8.960  8.450  8.870  15826800    -0.027088  down
2025-04-16  8.25  8.420  7.980  8.280  15132500    -0.042923  down
2025-04-17  8.32  8.475  8.075  8.290  11981100     0.008485    up
2025-04-21  8.11  8.205  7.810  8.170  12028800    -0.025240  down
2025-04-22  8.57  8.580  8.125  8.230  14606400     0.056720    up
2025-04-23  9.11  9.350  8.870  9.060  25910600     0.063010    up
2025-04-24  9.30  9.730  9.140  9.228  27748000     0.020856    up
2025-04-25  9.37  9.800  8.970  9.230  36524400     0.007527    up

In [7]:

up_counts = len(data[data["state"] == "up"])
down_counts = len(data[data["state"] == "down"])

up_to_up = len(data[(data["state"] == "up") & (data["state"].shift(-1) == "up")]) / len(data[data["state"] == "up"])
down_to_up = len(data[(data["state"] == "up") & (data["state"].shift(-1) == "down")]) / len(data[data["state"] == "up"])
up_to_down = len(data[(data["state"] == "down") & (data["state"].shift(-1) == "up")]) / len(data[data["state"] == "down"])
down_to_down = len(data[(data["state"] == "down") & (data["state"].shift(-1) == "down")]) / len(data[data["state"] == "down"])

transition_matrix = pd.DataFrame({
    "up": [up_to_up, up_to_down],
    "down": [down_to_up, down_to_down]
}, index=["up", "down"])

In [8]:
transition_matrix

       up  down
up    0.6   0.2
down  0.4   0.6

In [9]:
M_t = np.array([[.547, .453],[.575, .425]])
M_t

array([[0.547, 0.453],
       [0.575, 0.425]])

In [10]:
from numpy.linalg import matrix_power as mp

In [11]:
M_t_2d = mp(M_t, 2)
M_t_2d

array([[0.559684, 0.440316],
       [0.5589  , 0.4411  ]])